$primary-color: #47cf77; // bright yellow/orange
$secondary-color: #68ff9d; // lighter shade of primary color
$accent-color: #ffe44d; // darker shade of primary color

$high-emph: rgba(white, 0.87);
$med-emph: rgba(white, 0.69);
$low-emph: rgba(white, 0.38);
$dark-grey: #121212;
$clear: clear;
$overlay: mix($dark-grey, white, 95%);
$overlay-light: mix($dark-grey, white, 86%);

html, input, textarea, select {   
  color: $high-emph !important;
  background-color: $dark-grey !important;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

body {
  color: $high-emph !important;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  --bg-color: rgb(0, 39, 18) !important;
  --bg-color-light: #007a39; 
  background: linear-gradient(-45deg, var(--bg-color), var(--bg-color-light), var(--bg-color), var(--bg-color-light));
  background-size: 600% 600% !important;
  animation: gradient 15s ease infinite !important;
  height: 100%;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}


a {
  color: $primary-color !important;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: $accent-color !important;
}

.site-title, .site-title:visited, .site-nav, .page-link {
  color: $high-emph !important;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
}

.site-nav {
  background-color: $clear;
  border-color: $overlay-light;
}

* {
  scrollbar-color: $dark-grey $overlay-light;
}

pre, code {
  border-color: $overlay-light;
  background-color: $overlay;
}

.page-description {
  color: $med-emph;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
}

.post-meta {
  color: $low-emph;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.post-content p, .post-content li {
  color: $med-emph;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.btn {
  background-color: $primary-color !important;
  color: $high-emph !important;
  border-color: $secondary-color !important;
  font-weight: bold;
}

.btn:hover {
  background-color: $accent-color !important;
}

table th{
  border-color: $secondary-color;
  color: $high-emph;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: bold;
  background-color: $primary-color;
}

table td{
  border-color: $overlay-light;
  color: $med-emph;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: $dark-grey;
}

.flash {
  color: $dark-grey !important;
  filter: brightness(80%);
}

canvas {
  filter: invert(100%);
}

.post-list > li > div {
  background-color: $overlay;
}

li .post-meta-description {
  color: $med-emph !important;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}